// Puerto en el que se levantará el servidor:

PORT= 

// Información de la database

DB_host= 
DB_port= 
DB_username= 
DB_password= 
DB_database= 

// Secreto del Token:

JWT_secret=


// Creación de la migración de tablas y las entidades:

npx typeorm migration:create ./src/database/migrations/      <--NOMBRE_TABLA
npx typeorm entity:create ./src/database/models/             <--NOMBRE_ENTIDAD